.main-content {
  background-color: @background-color_2;
  padding-top: 50px;
  .container {
    display: grid;
    grid-template-areas: 'main aside';
    grid-template-columns: 75% 25%;
    main {
      grid-area: main;
      .products-block {
        margin-bottom: 54px;
        h4 {
          margin-bottom: 20px;
        }
        .products {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 28px;
          .product {
            position: relative;
            padding: 10px;
            border: 1px solid @color_10;
            box-shadow: 0 0 5px 0px @color_11;
            .sale-box {
              height: 100px;
              right: -1px;
              overflow: hidden;
              position: absolute;
              text-align: center;
              top: -2px;
              width: 100px;
              span.on_sale {
                background: @background-color_5;
                color: @color_15;
                display: block;
                left: -5px;
                font-size: 1em;
                padding: 7px 0;
                position: relative;
                text-align: center;
                top: 16px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                width: 140px;
                z-index: 2;
                text-transform: uppercase;
                border-bottom: 2px solid @color_14;
              }
            }
            .sale-box1 {
              height: 100px;
              left: 0px;
              overflow: hidden;
              position: absolute;
              text-align: center;
              top: 0px;
              width: 100px;
              span.on_sale {
                background: #7DB122;
                color: #FFF;
                display: block;
                left: -35px;
                font-size: 1em;
                padding: 5px 0;
                position: relative;
                text-align: center;
                top: 23px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                width: 140px;
                z-index: 2;
                text-transform: uppercase;
                border-bottom: 2px solid #6B9C15;
              }
            }
            .card-img {
              background-color: @color_10;
              height: 230px;
              .card-img-top {
                margin: 59px 16px;
              }
            }
            .price-basket {
              display: grid;
              grid-template-columns: 70% 30%;
              .title-glasses {
                font-family: @font-family_1;
                font-size: 14px;
                color: @color_12;
                text-align: left;
                padding: 8px 0px 0px 7px;
              }
              .price {
                font-family: @font-family_1;
                font-size: 17px;
                text-align: left;
                padding: 0px 0px 0px 8px;
                color: @color_13;
                span {
                  color: @color_12;
                  font-family: @font-family_1;
                  font-size: 13.5px;
                  text-decoration: line-through;
                }
              }
              .basket {
                width: 47px;
                height: 47px;
                margin: 7px 18px;
                background-color: @background-color_3;
                border-radius: 50%;
                img {
                  transform: translate(10px, 10px);
                }
              }
            }

          }

        }
      }
    }
    aside {
      padding-left: 28px;
      grid-area: aside;
      .sidebar-featured-product {
        .slider {
          border-top: 5px solid @background-color_5;
          box-shadow: 0 0 5px 2px @color_11;
          .slick-list {
            margin: 10px;
            .slide {
              width: 100%;
              position: relative;
              height: 420px;
              background-size: 100% 100%;
              h3 {
                padding: 0 10px;
                font-family: @font-family_1;
                font-size: 24px;
                color: @color_9;
                text-align: center;
                text-transform: uppercase;
                &:first-of-type {
                  margin-top: 8px;
                  line-height: 1.2;
                }
              }
              a {
                position: absolute;
                bottom: 20px;
                left: 50%;
                width: 132px;
                padding: 10px 0;
                background-color: @background-color_5;
                font-family: @font-family_1;
                font-size: 14px;
                color: @color_3;
                text-decoration: none;
                transform: translateX(-50%);
                text-align: center;
              }
            }
          }
          .slick-dots {
            position: static;
            padding: 7px 0;
            border-top: 0.5px solid @color_10;
            box-shadow: 0 -1px 0 0px @color_11;
            li {
              button {
                &:before {
                  font-size: 12px;
                  line-height: 20px;
                  opacity: 1;
                  color: @color_13;
                }
              }
            }
          }
          .slick-dots li.slick-active button:before {
            opacity: 1;
            color: @background-color_5;
          }
        }
      }
    }
  }
}






