@color_1: rgba(190, 242, 255, 255);
@color_2: #ffffff;
@color_3: rgba(255, 255, 255, 255);
@color_4: rgba(101, 101, 101, 255);
@color_5: rgba(183, 183, 183, 255);
@color_6: #ffffff00;
@color_7: #656565;
@color_8: #ACEAFA;
@color_9: rgba(99, 95, 87, 255);
@color_10: #eff1f0;
@color_11: #e7e8e8;
@color_12: rgba(70, 65, 72, 255);
@color_13: #7db122;
@color_14: #2892AC;
@color_15: #FFF;


@background-color_1: #4cb1ca;
@background-color_2: #ffffff;
@background-color_3: #7db122;
@background-color_4: #eff1f0;
@background-color_5: #4cb1ca;

@font-family_1: 'OpenSans';
@font-family_2: 'OpenSans-Bold';
@font-family_3: 'OpenSans-Light';


